.cost {
    width: max-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #000; 
    padding: 30px 10px 16px 10px;
}

.divs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.cost h4 {
    display: flex;
    width: 100%;
    gap: 16px;
    padding: 0px 32px;
    color: #fff;
}

.cost a {
    text-decoration: none;
}       
.logOut {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.footer {
    display: flex;
    width: fit-content;
    border: 1px solid red;
    flex-direction: column;
    gap: 5px;
}