.header {
    display: flex;
    height: 87.5vh;
    margin: 36px;
    z-index: 1;
}

.section {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.section div {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(blue, cyan, violet, black);
    border-radius: 10px;
    padding: 16px;
}

div h3 {
    color: #fff;
}